/**
 * @package   Gantry Template - RocketTheme
 * @version   3.2.17 March 5, 2012
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

/* Root Items */
body.rtl .menutop li.root {float: right;}
body.rtl .menutop li.parent.root .item span {padding-right: 15px;padding-left: 20px;}
body.rtl .menutop li.root > .item img {margin: 0 0 0 4px;}

/* Dropdown Surrounds */
body.rtl .menutop ul {float: right;}

/* Dropdown Items */
body.rtl .menutop ul li .item img {float: right;margin: 8px 0 0 6px;}

/* Images */
body.rtl .menutop li.parent.root > .item span {background-position: 8px 50%;}
body.rtl .menutop ul li > .daddy span {background-position: 0 50%;}
body.rtl .menutop .fusion-grouped ol li > .item {background-position: 100% 50%;}