/* Family In Bloom Styling */
@import url('http://fonts.googleapis.com/css?family=Calligraffitti|Mate+SC');

/* Sorry, RocketTheme... */
#rocket { display: none; }

/* Override some J!-specific styles */
h1, h2 { letter-spacing: normal; }
.component-content .title { font-size: 175%; }
.component-content td p { line-height: inherit; margin-bottom: 15px; }

/* General */
sup { font-size: smaller; }
p { font-size: 15px; }
img.rounded, .rounded img { border-radius: 25px; }
.fib-teaser li h3 { font-size: 20px; }
.fib-teaser p { font-size: 15px; text-align: center; }

/* Backgrounds */
body,
div#rt-header div.rt-container,
div#rt-feature div.rt-container,
div#rt-showcase div.rt-container,
div#rt-utility div.rt-container,
div#rt-maintop div.rt-container,
div#rt-main div.rt-container,
div#rt-sidebar-a,
div#rt-sidebar-b,
div#rt-sidebar-c,
div#rt-mainbottom div.rt-container,
div#rt-bottom div.rt-container,
div#rt-footer div.rt-container,
div#rt-copyright div.rt-container,
div#rt-menu div.rt-container { background: rgb(241,247,235) !important; }

/* Sidebars */
div#rt-sidebar-a div.rt-block, div#rt-sidebar-b div.rt-block, div#rt-sidebar-c div.rt-block {
    background-color: rgb(233,226,197);
    background-image: url('../images/body/sidebar-tl.jpg'),
        url('../images/body/sidebar-tr.jpg'),
        url('../images/body/sidebar-bl.jpg'),
        url('../images/body/sidebar-br.jpg');
    background-origin: border-box;
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    padding: 25px;
}
div#rt-sidebar-a div.noborder div.rt-block,
div#rt-sidebar-b div.noborder div.rt-block,
div#rt-sidebar-c div.noborder div.rt-block { background: none; margin: 0; padding: 0; text-align: center; }

/* Logo & Top Styling */
div#rt-top { background: rgb(241,247,235) url('../images/logo/fade.jpg') top center no-repeat !important; }
div#rt-top div.rt-container { background: transparent !important; }
div#rt-top div.rt-container #rt-logo { background: transparent !important; height: 185px !important; width: 960px !important; }
div#rt-top div.rt-container div.rt-block { margin: 0; padding: 0; }
div#rt-top div.rt-container div.rt-grid-12.rt-alpha.rt-omega { margin: 0; }

/* Menu */
div.rt-menubar { text-align: center; }
div.rt-menubar ul.menutop li a.item { color: rgb(73,99,114); font-family: Helvetica, sans-serif; }
#rt-menu ul.menu li a:hover, .menutop li.root > .item:hover, .menutop li.active.root.f-mainparent-itemfocus > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li:hover > .item, .menutop ul li > .item, .menutop ul li > .item:hover, .menutop ul li.f-menuparent-itemfocus > .item { background-color: rgb(121,132,152); }

/* Headers */
h1, h2, h3, h4, h5, h6 { color: rgb(132,22,18); font-family: 'Calligraffitti', cursive; }
div#rt-main h1.title, div#rt-main h2.title { font-size: 24px !important; line-height: 34px; text-align: center; }

/* Quotes */
blockquote, q { color: rgb(123,37,24); font-family: 'Calligraffitti', cursive; font-size: 24px; line-height: 36px; }
.quoted { color: rgb(123,37,24); font-family: 'Mate SC', serif; font-size: 18pt; line-height: 18pt; text-align: center; }

/* Mainbody */

/* Sidebars */
div#rt-sidebar-a h1,
div#rt-sidebar-a h2,
div#rt-sidebar-a h3,
div#rt-sidebar-a h4,
div#rt-sidebar-a h5 { margin-bottom: 0; }
